<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vandroiy</string>
	<key>CodecID</key>
	<integer>565</integer>
	<key>CodecName</key>
	<string>ALC235</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch ALC235</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel NUC8</string>
				<key>Id</key>
				<integer>8</integer>
				<key>Path</key>
				<string>layout8.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo by soto2080</string>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>layout11.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo Rescuer 15ISK by Z39</string>
				<key>Id</key>
				<integer>12</integer>
				<key>Path</key>
				<string>layout12.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Deskmini H470 ALC235 by dumk1217</string>
				<key>Id</key>
				<integer>13</integer>
				<key>Path</key>
				<string>layout13.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>the-braveknight - Realtek ALC235 for Lenovo Legion Y520</string>
				<key>Id</key>
				<integer>14</integer>
				<key>Path</key>
				<string>layout14.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>qiuchenly - Realtek ALC235 for ASUS FX53VD</string>
				<key>Id</key>
				<integer>15</integer>
				<key>Path</key>
				<string>layout15.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MacPeet - Realtek ALC235 for ASUS GL553VD</string>
				<key>Id</key>
				<integer>16</integer>
				<key>Path</key>
				<string>layout16.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo ThinkCentre Tiny M720q</string>
				<key>Id</key>
				<integer>17</integer>
				<key>Path</key>
				<string>layout17.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Asrock_bb_310 by_vio</string>
				<key>Id</key>
				<integer>18</integer>
				<key>Path</key>
				<string>layout18.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo C530 Desktop PC by Andres ZeroCross</string>
				<key>Id</key>
				<integer>21</integer>
				<key>Path</key>
				<string>layout21.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Asus ROG GL553VD-FY380 by Andres ZeroCross</string>
				<key>Id</key>
				<integer>22</integer>
				<key>Path</key>
				<string>layout22.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Asus TUF FX705GM by TheRealGudv1n</string>
				<key>Id</key>
				<integer>24</integer>
				<key>Path</key>
				<string>layout24.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>vusun123 - Realtek ALC235 for Lenovo Legion Y520</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hla63 - Realtek ALC235 for Msi Moder 15 A10M</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>layout29.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom by fuzzyrock for ALC235 Lenovo A340-22IWL</string>
				<key>Id</key>
				<integer>33</integer>
				<key>Path</key>
				<string>layout33.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC235(Display as ALC233) for Lenovo Qitian M420-D046(C) by Cryse Hillmes</string>
				<key>Id</key>
				<integer>35</integer>
				<key>Path</key>
				<string>layout35.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC235(Display as ALC233) for Lenovo IdeaCentre Mini 5</string>
				<key>Id</key>
				<integer>37</integer>
				<key>Path</key>
				<string>layout37.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lenovo M920x ALC235 by meloay</string>
				<key>Id</key>
				<integer>72</integer>
				<key>Path</key>
				<string>layout72.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>frozenzero123 - NUC8I5BEH JUST MIC ALC235</string>
				<key>Id</key>
				<integer>88</integer>
				<key>Path</key>
				<string>layout88.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo TianYi 510s Mini by DalianSky</string>
				<key>Id</key>
				<integer>99</integer>
				<key>Path</key>
				<string>layout99.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo Tianyi 510 pro-18ICB Desktop PC by hgs v1</string>
				<key>Id</key>
				<integer>36</integer>
				<key>Path</key>
				<string>layout36.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch ALC235</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>PlatformsM.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel NUC8</string>
				<key>Id</key>
				<integer>8</integer>
				<key>Path</key>
				<string>Platforms8.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo by soto2080</string>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>Platforms11.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo Rescuer 15ISK by Z39</string>
				<key>Id</key>
				<integer>12</integer>
				<key>Path</key>
				<string>Platforms12.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Deskmini H470 ALC235 by dumk1217</string>
				<key>Id</key>
				<integer>13</integer>
				<key>Path</key>
				<string>Platforms13.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>the-braveknight - Realtek ALC235 for Lenovo Legion Y520</string>
				<key>Id</key>
				<integer>14</integer>
				<key>Path</key>
				<string>Platforms14.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>qiuchenly - Realtek ALC235 for ASUS FX53VD</string>
				<key>Id</key>
				<integer>15</integer>
				<key>Path</key>
				<string>Platforms15.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MacPeet - Realtek ALC235 for ASUS GL553VD</string>
				<key>Id</key>
				<integer>16</integer>
				<key>Path</key>
				<string>Platforms16.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo ThinkCentre Tiny M720q</string>
				<key>Id</key>
				<integer>17</integer>
				<key>Path</key>
				<string>Platforms17.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Asrock_bb_310 by_vio</string>
				<key>Id</key>
				<integer>18</integer>
				<key>Path</key>
				<string>Platforms18.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo C530 Desktop PC by Andres ZeroCross</string>
				<key>Id</key>
				<integer>21</integer>
				<key>Path</key>
				<string>Platforms21.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Asus ROG GL553VD-FY380 by Andres ZeroCross</string>
				<key>Id</key>
				<integer>22</integer>
				<key>Path</key>
				<string>Platforms22.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Asus TUF FX705GM by TheRealGudv1n</string>
				<key>Id</key>
				<integer>24</integer>
				<key>Path</key>
				<string>Platforms24.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>vusun123 - Realtek ALC235 for Lenovo Legion Y520</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>Platforms28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hla63 - Realtek ALC235 for Msi Moder 15 A10M</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>Platforms29.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom by fuzzyrock for ALC235 Lenovo A340-22IWL</string>
				<key>Id</key>
				<integer>33</integer>
				<key>Path</key>
				<string>Platforms33.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC235(Display as ALC233) for Lenovo Qitian M420-D046(C) by Cryse Hillmes</string>
				<key>Id</key>
				<integer>35</integer>
				<key>Path</key>
				<string>Platforms35.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC235(Display as ALC233) for Lenovo IdeaCentre Mini 5</string>
				<key>Id</key>
				<integer>37</integer>
				<key>Path</key>
				<string>Platforms37.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lenovo M920x ALC235 by meloay</string>
				<key>Id</key>
				<integer>72</integer>
				<key>Path</key>
				<string>Platforms72.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>frozenzero123 - NUC8I5BEH JUST MIC ALC235</string>
				<key>Id</key>
				<integer>88</integer>
				<key>Path</key>
				<string>Platforms88.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo TianYi 510s Mini by DalianSky</string>
				<key>Id</key>
				<integer>99</integer>
				<key>Path</key>
				<string>Platforms99.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC235 for Lenovo Tianyi 510 pro-18ICB Desktop PC by hgs v1</string>
				<key>Id</key>
				<integer>36</integer>
				<key>Path</key>
				<string>Platforms36.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>xgYASIu/aAE=</data>
			<key>MinKernel</key>
			<integer>18</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>xgYBSIu/aAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>YQLsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hAjsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hQjsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hBnUEQ==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>NQLsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>YgLsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>MinKernel</key>
			<integer>15</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
