<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.msi.MSIECToolbox</string>
    <key>CFBundleName</key>
    <string>MSIECToolbox</string>
    <key>CFBundleVersion</key>
    <string>4.3.0</string>
    <key>CFBundleShortVersionString</key>
    <string>4.3.0</string>
    <key>CFBundleExecutable</key>
    <string>MSIECToolboxInstaller</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
